global:
  scrape_interval: 30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: mqtt-exporter
    static_configs:
      - targets: ["mqtt-exporter:9000"]
